*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.menu{

    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(225,223,143,1) 3%, rgba(207,203,190,1) 60%, rgba(224,218,197,1) 97%, rgba(0,212,255,1) 100%);
}
.person{
    padding: auto;
    width: 100%;
    height: 100%;
    padding: 10px;
}
.search{

    padding: auto;
    width: 100%;
    height: 100%;
    padding: 11px; 
    background-color: orange;
}

.recc{
    background-color: lightgray;
}

.foot{
    margin: 10px;
    background-image:url('/images/pexels-photo-1028599.jpeg') ;
    background-repeat: no-repeat;
    background-size: cover;
}

a{
    color: black;
}

a :hover {
    color: aqua;
}

.footer{
    margin: 50px;
    padding: 30px;
    background-color: white;
    opacity: .90;
}

.butt{
    color: black;
    font-size: large;
    border: 2px solid black;
    border-radius: 5px;
}

.butt:hover {
    color: gray;
}

.title:hover {
    color: gray;
}

.image1:hover{
    scale: 110%;
}